services:
  database:
    image: postgres:16-alpine
    container_name: symfony_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-app}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-ChangeMe123}
      POSTGRES_DB: ${POSTGRES_DB:-app_db}
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app_network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: symfony_backend
    volumes:
      - ./backend:/var/www/symfony:cached
    depends_on:
      - database
    networks:
      - app_network
    user: "1000:1000" 

  nginx:
    image: nginx:alpine
    container_name: symfony_nginx
    ports:
      - "8080:80"
    volumes:
      - ./backend:/var/www/symfony:ro
      - ./backend/docker/ngnix/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
    networks:
      - app_network

  frontend:
    image: node:20-alpine
    container_name: symfony_frontend
    working_dir: /app
    volumes:
      - ./frontend:/app:cached
      - /app/node_modules
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev -- --host"
    networks:
      - app_network

volumes:
  db_data:

networks:
  app_network:
    driver: bridge
